@use '../../partials/1-helpers/helpers' as *;

.video-list {

    &__card {
        @extend %flex;
        align-items: flex-start;
        margin-bottom: 2.4rem;
        cursor: pointer;
        max-width: 38.4rem;
        border-radius: 4px;

        &:hover {
            transform: scale(1.1, 1.1);
            transform-origin: top left;
            box-shadow: 2px 2px 2px $primary-cta-color;
        }
    }

    &__poster {
        border-radius: .4rem;
        object-fit: cover;
        width: 14rem;
        height: 8rem;
        margin-right: 1.6rem;
        flex-shrink: 0;
    }

    &__ctx {
        @extend %flex--column;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 0.8rem;
    }
}