@use '../../partials/1-helpers/helpers' as *;

.video-list {

    &__heading {
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        color: $label-color;
    }

    @include screen(map-get($screen, "desktop")) {
        padding-left: map-get($pad, "tablet");
        border-left: 1px solid $border-color;
    }
}

