@use '../../partials/1-helpers/helpers' as *;

.header {
    &__nav {
        @extend %flex--column;
        width: 100%;
     
        @include screen(map-get($screen, "tablet")) {
            margin-left: 16.9rem;
            flex-direction: row;
        }
    
        @include screen(map-get($screen, "desktop")) {
            margin-left: 50.9rem;
            flex-direction: row;
        }
    }
    
    &__upload {
        @extend %flex;
        margin-top: .8rem;
        margin-bottom: 1.6rem;
        width: 100%;
    
        @include screen(map-get($screen, "tablet")) {
            margin-left: 2.4rem;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    
    &__button {
        @extend %button;
        padding: 0;
        @extend %flex;
        justify-content: center;
        text-decoration: none;

    
        &::before {
            content: url('http://localhost:5002/Icons/Icon-upload.svg');
        }
    }
}
