@use '../../partials/1-helpers/helpers' as *;

.comments {
    &__count{
        margin-bottom: 3.2rem;
    }

    &__form-container {
        @extend %flex;
        align-items: flex-start;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid $border-color;
    }
}