@use '../../partials/1-helpers/variables' as *;
@use '../../partials/1-helpers/placeholders' as *;

.header {

    &__container {
        @extend %flex--column;
        width: 100%;
        padding-left: map-get($pad, "mobile");
        padding-right: map-get($pad, "mobile");
    }

    &__logo {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}