@use '../../partials/1-helpers/helpers' as *;

.header {
    border-bottom: 1px solid $border-color;

    &__container {
        @extend %flex--column;
        @extend %limiting-container;
        

        @include screen(map-get($screen, "tablet")) {
            flex-direction: row;
            height: 8rem;
        }
    }

    &__logo {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}