@use '../../partials/1-helpers/helpers' as *;

.header__profile-picture {
    @extend %profile-picture;
    margin-left: 1.6rem;

    @include screen(map-get($screen, "tablet")) {
        margin-left: 2.4rem;
    }
}

.comments__form-profile-picture {
    @extend %profile-picture;
    margin-top: 2.5rem;
}

.comments__comment-card-profilepic {
    @extend %profile-picture;
    background-color: $profile-placeholder-color;
    flex-shrink: 0;
    margin-right: map-get($pad, "mobile");
}