// colors
$paragraph-color: #323232;      //black
$label-color: #AFAFAF;          //silver
$text-field-color: #E1E1E1;     //mercury
$text-field-bg: #FAFAFA;        //alabaster
$primar-cta-text: white;

// $nav-bg: #323232;               //black
// $primary-cta-color: #004892;    //instock blue
// $primary-link: #004892;         //instock blue
// $primary-cta-hover: #002F5F;    //instock blue dark

$nav-bg: #323232;               //black
$primary-cta-color: #0095FF;    //brainflix blue
$primary-link: #0095FF;         //brainflix blue
$primary-cta-hover: #0065AD;    //brainflix blue dark

$pad: (
    "mobile": 1.6rem,
    "tablet": 3.2rem
);

$screen: (
    "tablet": 768px,
    "desktop": 1280px 
);
    


